# Database Credentials
MYSQL_DATABASE=your-db-name
MYSQL_USER=your-rootuser-name
MYSQL_PASSWORD=your-rootuser-password
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

# Django Settings
DJANGO_SECRET_KEY= add-your-generated-secret-key
DJANGO_DEBUG=True

# JWT & Security
JWT_SECRET_KEY= add-your-generated-secret-key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120